@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  line-height: 1.5;
  font-family: 'Noto Serif', serif;
}


*{
  margin: 0;
  padding:0;
}
.navbar{
  display:flex;
  padding:15px;
}
nav {
  flex:1;
  text-align:right;
}
.logo img{
  margin-left: 25px;
  width:30%;
}
nav ul{
  display:inline-block;
  list-style-type: none;
  margin-right: 25px;

}
nav ul li{
  display:inline-block;
  margin: right 25px;
}


.banner{
  position: relative;
  width:100%;
  margin:0 auto;
}
.banner img{
  width:100%;
}
.heading{
  width:100%;
  color:white;
  position:absolute;
  top:43%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

nav ul li a{
  text-decoration: none ;
  color:rgb(48, 23, 23);
  padding:0 5px;
  text-align: center;
}
#header{
  max-width: 1300px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}

h2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.container{
  width:100%;
  height:auto;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.box{
  width: 40%;
  max-width:600px;
  height: auto;
  background: beige;
  margin: 20px;
  border-radius: 10px;
  cursor:pointer;
}

button{
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  padding:10px;
  width:20%;
  min-width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  color:white;
  background-color: rgb(136, 112, 98);
  border-radius: 15px;
}

.test{
  text-align: center;
  font-family: 'Noto Serif', serif;
}

.footer{
  background-color: rgb(53, 36, 29);
  padding:50px 0;
  margin-top: 20px;
}
.footer-col{
  margin-left: 30px;
  display:block;
  width: 15%;
  padding: 20px 15px;
}
.footer-col h4{
  font-size: 18px;
  color:rgb(255, 192, 74);
  text-transform: capitalize;
  margin-bottom:20px;
  font-weight:500;
  position:relative;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:white;
  text-decoration:none;
  font-weight: 300;
  display:block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color:white;
  padding-left: 10px;
}

.container2{
  max-width: 1170px;
  margin:auto;
}

.row2{
  display: flex;
  flex-wrap: wrap;

}
ul{
  list-style: none;
}

.footer-col .social-links a{
  display: inline-block;
  padding:8px;
  height:20px;
  width: 20px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  text-align: center;
}



@media screen and (max-width:500px){
  
  nav ul li a{
    display: none;
  }
  .box{
    width: 80%;
    max-width:600px
  }
  .footer-col{
    width:100%;
  }
  .banner{
    margin: top -20px;
  }


}

@media screen and (min-width:500px) and (max-width:800px){
  nav ul li a{
    display: none;
  }
  .footer-col{
    width:40%;
  }

 
}

@media screen and (min-width:800px) and (max-width:1200px){
  .icon{
    display: none;
  }
  .footer-col{
    width:40%;
  }
}

@media screen and (min-width:1200px){
  .icon{
    display: none;
  }
 
  }
  .test3{
    display:flex;
    justify-content: center;
  }
  .container{
    max-width:1500px;
  }
  
  button{
    max-width: 300px;
    }


  
}







