@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  line-height: 1.5;
  font-family: 'Noto Serif', serif;
}


*{
  margin: 0;
  padding:0;
}
.header{
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items:center;
  background: white;
  padding:15px;
}

.logo a {
  display:block;
}

.logo a img{
  display:block;
  width:80px;
}

.navigation {
  flex:1;
  text-align:right;
  justify-content: space-between;
  align-items:center;

}

.nav-links{
  display:flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  z-index:1;
  list-style-type: none;

}

.nav-links li{
  margin:0 3px;

}

.nav-links li a{
  text-decoration: none;
  color:rgb(75, 50, 22);
  display:block;
  padding:40px 25px;
  font-size: 18px;
  line-height: 1;
}




/*second attempt*/

.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn_hamburger{
  position: relative;
  width:30px;
  height:4px;
  background:rgb(75, 50, 22);
  border-radius:10px;
  cursor:pointer;
  z-index: 2;
  transition:0.3s;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after{
  content:"";
  position:absolute;
  height:4px;
  right:0;
  background:rgb(75, 50, 22);
  border-radius: 10px;
  transition:0.3s;
}

.menu-btn_hamburger::before{
  top:-10px;
  width:30px;
}

.menu-btn_hamburger::after{
  top:10px;
  width:30px;
}

.menu-btn.open .menu-btn_hamburger{
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn_hamburger::before{
  transform: rotate(45deg) translate(41px, -24px);
}

.menu-btn.open .menu-btn_hamburger::after{
  transform: rotate(-45deg) translate(39px, 26px);
}

.menu-btn, .menu-btn_hamburger{
  display: none;
}








.icon img{
  width:30px;
}
.icon-cross img{
  width:30px;
}



.banner{
  position: relative;
  width:100%;
  margin:0 auto;
}
.banner img{
  width:100%;
}
.heading{
  width:100%;
  color:white;
  position:absolute;
  top:43%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}


h2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.container{
  width:100%;
  height:auto;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.new-container{
  width:100%;
  height:auto;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}
.lower-container{
  display:none;
}

.box{
  width: 40%;
  max-width:600px;
  height: auto;
  background: beige;
  margin: 20px;
  border-radius: 10px;
  cursor:pointer;
}

button{
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  padding:10px;
  width:20%;
  min-width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  color:white;
  background-color: rgb(136, 112, 98);
  border-radius: 15px;
}

.btn-cta{
  text-align: center;
  font-family: 'Noto Serif', serif;
}

.footer{
  background-color: rgb(53, 36, 29);
  padding:50px 0;
  margin-top: 20px;
}
.footer-col{
  margin-left: 30px;
  display:block;
  width: 15%;
  padding: 20px 15px;
}
.footer-col h4{
  font-size: 18px;
  color:rgb(255, 192, 74);
  text-transform: capitalize;
  margin-bottom:20px;
  font-weight:500;
  position:relative;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:white;
  text-decoration:none;
  font-weight: 300;
  display:block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color:white;
  padding-left: 10px;
}

.footer-container{
  max-width: 1170px;
  margin:auto;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;

}
ul{
  list-style: none;
}

.footer-col .social-links a{
  display: inline-block;
  padding:8px;
  height:20px;
  width: 20px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  text-align: center;
}


@media screen and (max-width:500px){
  
 

  .lower-container{
    display:none;
  }
  .box{
    width: 80%;
    max-width:600px
  }
  .footer-col{
    width:100%;
  }
  .banner{
    margin: top -20px;
  }
  .icon-cross{
    display:flex;
    margin:10px;
    cursor: pointer;
  }

}

@media screen and (max-width:800px){
 
  .footer-col{
    width:40%;
  }
  .menu-btn, .menu-btn_hamburger{
    display: block;

  }
  .navigation{
    display: flex;
    justify-content: flex-end;
    padding:0px;
    height:25px;
  }
  .menu-btn_hamburger{

    margin-top: 40px;
    margin-left: 30px;
  }
  .nav-links{
    justify-content: start;
    text-align: left;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top:0;
    right:-500px;
    background: rgb(236,220,194);
    width:45%;
    height:100%;
    padding-top:15px;
    padding-left:15px;
  }
  .nav-links.active{
    right:0;
  }

  .nav-links li{
    width:100%;
    height:50px;
  }
  .nav-links li a{
    padding:30px;
    font-size:20px;
    box-shadow: grey;
  }
  .lower-container{
    display:none;
  }
}
    

 


@media screen and (min-width:801px) and (max-width:1200px){
  
  .footer-col{
    width:40%;
  }
  .nav-links{
    height:30px;
  }
  .lower-container{
    display:none;
  }
}


@media screen and (min-width:1200px){
  
  .nav-links{
    height:30px;
  }

  .top-container{
    display:flex;
    justify-content: center;
    width: 100%;
  }

  .lower-container{
    display:none;
    justify-content: center;
    width:100%;
  }

  .container{
    max-width:1500px;
  }

  .new-container{
    max-width:1500px;
  }
  
  button{
    max-width: 300px;
  }
}





