
head
  title Hello Students!
  if name
    h1 Welcome, #{name}!
  else
    form(action='/interface' , method='post')
     label
      h3 Enter your name to know more :
       input(type='number', name='username')
      br
     button#mybutton(type='submit') submit
